* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
.background-img {
    height: 100vh;
    background-image: url('/images/worker-5736096_1280.jpg');
    background-size: cover;
    
}
  /* Style the navbar */
nav {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
  
  /* Style the logo */
.logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
  }
  
  /* Style the navbar items */
.navbar-items {
    font-size: 20px;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
  }
  
.navbar-items li {
    width: 200px;
    display: inline-block;
    
}
  
.navbar-items li a {
    color: white;
    text-decoration: none;
    padding: 5px;

  }
  
  /* Media query for responsive design */
  // MEDIA QUERY MUST BE BELOW THAN MODIFIED CLASS // 
@media only screen and (max-width: 768px) {
    .navbar-items li {
      width: 150px;
    }
  }

.buttons {
  transform: translateX(-60px);
  margin: auto;
  width: 100%;
  margin: 30px;
  display: flex;
  justify-content: center;

  }

  // -----------buttons styling-------------
.btn {
  border: 2px solid gray;
  font-size: 1.1rem;
  padding: 15px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  
}
.btn:hover {
  background-color: lightgray;
}
.activeBtn {
  background-color: rgb(130, 230, 220);
}



@media only screen and (max-width: 1082px) {
  .buttons {
    transform: translateX(-10px); 
  }
  .btn {
    font-size: 0.9rem;
    padding: 10px;
  }
}
//----------- end of buttons styling------------


//---- MAIN TABLE SECTION
.main-table-section {
  font-size: 0.9rem;
  margin: 100px;
  display: block;
  width: 90%;
  margin: auto;
  height: 65%;
}

//----MAIN TABLE
.main-table-table {
  display: block;
  max-width: 75%;
  height: auto;
  max-height: 100%;
  margin: auto;
  overflow: auto;
}

// -------------TABLE DISPLAY BLOCK TO OVERFLOW


table, th, td {
  padding: 1rem;
  border-collapse: collapse;
}
th:last-child {
  border-radius: 0 0.5rem 0 0;
}
th:first-child {
  border-radius: 0.5rem 0 0 0;
}
td {
  max-width: 180px;
  text-align: center;
  overflow-wrap: break-word;
  
}

table {
  padding: 0;
  box-shadow:  0 0.1rem 0.8rem #0005;
  border-radius: 0.5rem;
  background-color: rgb(235, 235, 235, 0.6);
  backdrop-filter: blur(5px);
}
thead {
  height: 10%;
  background-color: rgb(150, 230, 230);
}


// -------------- media query for main table
@media screen and (max-width: 1082px) {
  .main-table-section {
    display: block;
    font-size: 1rem;
    width: 90%;
    font-size: 0.6rem;
  }
  .main-table-table {
    max-width: 100%;
    margin: 0;
    overflow: auto;
  }
  th, td {
    padding: 0.5rem;
  }

}
tbody tr:nth-child(even) {
  background-color: #0000000b;
}
tbody tr:hover {
  background-color: #fff6;
}

input {
  width: 80%;
}

@media screen and (max-width: 900px) {
  input {
    min-width: 55px;
    font-size: 0.7rem;
  }
  #input-date {
    min-width: 75px;
  }
  select {
    font-size: 0.7rem;
  }
}
textarea {
  max-width: 180px;
}
.planned {
  color: rgb(120, 120, 0);
  background-color: yellow;
  border-radius: 20px;
  padding: 5px;
}
.repaired {
  color: rgb(0, 133, 22);
  background-color: rgb(92, 255, 119);
  border-radius: 20px;
  padding: 5px;
}
.informed {
  color: rgb(116, 26, 26);
  background-color: rgb(255, 80, 80);
  border-radius: 20px;
  padding: 5px;
}
.add-btn {
  padding: 2px;
}
.edit-btn {
  padding: 2px;
}
.del-btn {
  padding: 2px;
}
.reset-btn {
  padding: 2px;
}

//----------------SCROLLBAR STYLE
table::-webkit-scrollbar {
  width: 12px;
  max-width: 12px;
  height: 10px;
}
table::-webkit-scrollbar-track {
  width: 12px;
  height: 10px;
  background-color: transparent;
}
table::-webkit-scrollbar-thumb {
  width: 8px;
  height: 10px;
  background-color: rgb(149, 182, 182);
  border-radius: 10px;
  background-clip: content-box;
}
table::-webkit-scrollbar-corner {
  background-color: transparent;
}
